In [2]:
# 1.统计一行/一列数据的负数出现的次数
# 2.让dataframelimian的正数全部变成0
# 3、统计某列中元素出现的次数
# 4、修改表头和索引
# 5、修改列所在的位置
# 6、常用的查询方法
# 7、存储数据时不要索引
# 8、指定列排序
# 9、apply函数应用
# 10、pandas数据合并
# 11、pandas Dataframe拷贝
# 12、对行或者列的操作

In [9]:
import pandas as pd

In [12]:
df=pd.DataFrame(
    {'a':[-1,2,-3,4,1],
     'b':[-2,-5,5,7,1],
     'c':[-8,3,6,-77,3]}
)
df

   a  b   c
0 -1 -2  -8
1  2 -5   3
2 -3  5   6
3  4  7 -77
4  1  1   3

In [14]:
num_list=(df<0).astype(int).sum(axis=0)
num_list

a    2
b    2
c    2
dtype: int64

In [16]:
int(True)

1

In [18]:
int (False)

0

In [19]:
#让databaseframe里面的正数全部变成0

In [21]:
df[df>0]

     a    b    c
0  NaN  NaN  NaN
1  2.0  NaN  3.0
2  NaN  5.0  6.0
3  4.0  7.0  NaN
4  1.0  1.0  3.0

In [24]:
df[df>0]=0
df

   a  b   c
0 -1 -2  -8
1  0 -5   0
2 -3  0   0
3  0  0 -77
4  0  0   0

In [26]:
df['b'].value_counts()#统计某列元素中的值的个数

 0    3
-2    1
-5    1
Name: b, dtype: int64

In [54]:
df['b'].value_counts(bins=10)#按bins均匀分割区间，统计坐落在区间内的元素

(-0.5, 0.0]       3
(-5.006, -4.5]    1
(-2.5, -2.0]      1
(-4.5, -4.0]      0
(-4.0, -3.5]      0
(-3.5, -3.0]      0
(-3.0, -2.5]      0
(-2.0, -1.5]      0
(-1.5, -1.0]      0
(-1.0, -0.5]      0
Name: b, dtype: int64

In [55]:
#计算各元素出现的次数占比

In [57]:
df['b'].value_counts(normalize=True)

 0    0.6
-2    0.2
-5    0.2
Name: b, dtype: float64

In [59]:
columns={'a':'A','b':'B'}
df.rename(columns=columns,inplace=True)#重新定义列的索引，inplace表示在这个原表上修改
df

   A  B   c
0 -1 -2  -8
1  0 -5   0
2 -3  0   0
3  0  0 -77
4  0  0   0

In [66]:
df.index=['a','b','c','d','e']
df

   A  B   c
a -1 -2  -8
b  0 -5   0
c -3  0   0
d  0  0 -77
e  0  0   0

In [72]:
#insert在指定位置插入某列值，pop按列名字取出某列值，同时会删除他
df.insert(2,'D',df.pop('A'))#2表示新增的位置，‘D’表示新增的列名,'A'表示删除这列
df

   B   c  D
a -2  -8 -1
b -5   0  0
c  0   0 -3
d  0 -77  0
e  0   0  0

In [71]:
df.query('c<0')#查询c列中小于0的,查询所有对象

   B   c  A
a -2  -8 -1
d  0 -77  0

In [87]:
df.insert(0,'name2',['张三','李四','麻子','王五','华子'])
df

  name2 name  B   c  D
a    张三   张三 -2  -8 -1
b    李四   李四 -5   0  0
c    麻子   王五  0   0 -3
d    王五   王五  0 -77  0
e    华子   华子  0   0  0

In [88]:
df

  name2 name  B   c  D
a    张三   张三 -2  -8 -1
b    李四   李四 -5   0  0
c    麻子   王五  0   0 -3
d    王五   王五  0 -77  0
e    华子   华子  0   0  0

In [91]:
df.query("name.str.contains('三|四|五')",engine='python')#查询包含三四五的数据

  name2 name  B   c  D
a    张三   张三 -2  -8 -1
b    李四   李四 -5   0  0
c    麻子   王五  0   0 -3
d    王五   王五  0 -77  0

In [95]:
#储存数据不用索引
df.to_csv('测试1.csv',encoding='utf-8')#有索引
df.to_csv('测试2.csv',encoding='utf-8',index=None)#没有索引

In [97]:
#by获取指定列na_position NaN放在开头或是结尾,first表示将缺失值（NaN）放置在排序后的DataFrame的开头。
df.sort_values(by=['name'],na_position='first',ascending=True)

  name2 name  B   c  D
e    华子   华子  0   0  0
a    张三   张三 -2  -8 -1
b    李四   李四 -5   0  0
c    麻子   王五  0   0 -3
d    王五   王五  0 -77  0

In [100]:
df[['c','B']].apply(lambda x:x+1)#指定列（c，B）都加1

    c  B
a  -7 -1
b   1 -4
c   1  1
d -76  1
e   1  1

In [117]:
#pandas数据合并
df1=df[0:1]
df2=df[2:4]
df3=df[3:5]
#构建一个列表
frames=[df1,df2,df3]#不去重的合并
df4=pd.concat(frames)
df4

  name  B   c  D
a   zs -2  -8 -1
c   王五  0   0 -3
d   王五  0 -77  0
d   王五  0 -77  0
e   华子  0   0  0

In [112]:
# df.drop('name2', axis=1, inplace=True)#删除列，axis=1表示你要删除的是列
df

  name  B   c  D
a   张三 -2  -8 -1
b   李四 -5   0  0
c   王五  0   0 -3
d   王五  0 -77  0
e   华子  0   0  0

In [121]:
df['name'][1]='zs'
print(f"df\n{df}\ndf1{df1}")

df
  name  B   c  D
a  zhh -2  -8 -1
b   zs -5   0  0
c   王五  0   0 -3
d   王五  0 -77  0
e   华子  0   0  0
df1  name  B  c  D
a  zhh -2 -8 -1

C:\Users\pc\AppData\Local\Temp\ipykernel_2528\2107232273.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['name'][1]='zs'

In [134]:
print(df)
df2 = df.copy(deep=True)  #浅拷贝
df2
df2['name'][0] = 'yes'
print(f"{df2}\n{df}")  #浅拷贝，改变df2,df也被改变

  name  B   c  D
a   张三 -2  -8 -1
b   李四 -5   0  0
c   王五  0   0 -3
d   王五  0 -77  0
e   华子  0   0  0
  name  B   c  D
a  yes -2  -8 -1
b   李四 -5   0  0
c   王五  0   0 -3
d   王五  0 -77  0
e   华子  0   0  0
  name  B   c  D
a   张三 -2  -8 -1
b   李四 -5   0  0
c   王五  0   0 -3
d   王五  0 -77  0
e   华子  0   0  0

C:\Users\pc\AppData\Local\Temp\ipykernel_2528\2936666709.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['name'][0] = 'yes'

In [135]:
df2=df.copy(deep=True)#深拷贝
df2
df2['name'][0]='yes'
print(f"{df2}\n{df}")#深拷贝，改变df2,df不会被改变

  name  B   c  D
a  yes -2  -8 -1
b   李四 -5   0  0
c   王五  0   0 -3
d   王五  0 -77  0
e   华子  0   0  0
  name  B   c  D
a   张三 -2  -8 -1
b   李四 -5   0  0
c   王五  0   0 -3
d   王五  0 -77  0
e   华子  0   0  0

C:\Users\pc\AppData\Local\Temp\ipykernel_2528\977518792.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['name'][0]='yes'

In [138]:
df3=df.iloc[:,-2:]#所有行，倒数第二列到所有列,带了i的loc根据列索引取值，比如1列2列。。
df3

    c  D
a  -8 -1
b   0  0
c   0 -3
d -77  0
e   0  0

In [140]:
df4=df.loc[:,['name','B']]#不带i的loc根据列名取值比name
df4

  name  B
a   张三 -2
b   李四 -5
c   王五  0
d   王五  0
e   华子  0

In [142]:
#重新设置索引
df.index=['a1','a2','a3','a4','a5']
df

   name  B   c  D
a1   张三 -2  -8 -1
a2   李四 -5   0  0
a3   王五  0   0 -3
a4   王五  0 -77  0
a5   华子  0   0  0

In [145]:
df5=df.loc[['a1','a2'],:]#取出a1,a2两行的所有列
df5

   name  B  c  D
a1   张三 -2 -8 -1
a2   李四 -5  0  0

In [152]:
flag=df['B'].astype(int).map(lambda x:x<0)#astype转为int类型，map返回小于0的值为true
df.loc[flag,'B'],df.loc[flag,'c']=df.loc[flag,'c'],df.loc[flag,'B']#满足 flag 条件的行，并选择列 'B',并进行交换
df

   name  B   c  D
a1   张三 -2  -2 -1
a2   李四 -2  -2  0
a3   王五  0   0 -3
a4   王五  0 -77  0
a5   华子  0   0  0