In [2]:
import pandas as pd

## pandas数据结构

In [3]:
#Series和DataFrame两种数据结构
# Series是一种类似于一维数组的对象，它由一组数据以及一组相关的数据标签组成

In [4]:
obj=pd.Series([4,9,6,2])
obj

0    4
1    9
2    6
3    2
dtype: int64

In [5]:
obj.values

array([4, 9, 6, 2], dtype=int64)

In [6]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
obj2=pd.Series([4,5,2,9],index=['a','b','c','d'])
obj2

a    4
b    5
c    2
d    9
dtype: int64

In [8]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [9]:
obj2['a']

4

In [10]:
obj2['c']=8
obj2

a    4
b    5
c    8
d    9
dtype: int64

In [11]:
obj2[['b','c','d']]

b    5
c    8
d    9
dtype: int64

In [12]:
obj2[obj2>5]

c    8
d    9
dtype: int64

In [13]:
obj2>5

a    False
b    False
c     True
d     True
dtype: bool

In [14]:
obj2*2

a     8
b    10
c    16
d    18
dtype: int64

In [15]:
obj2

a    4
b    5
c    8
d    9
dtype: int64

In [16]:
'b' in obj2

True

In [17]:
'e' in obj2

False

In [18]:
sdata={'ohio':10000,'Test':30000,'org':120000,'Str':123}
obj3=pd.Series(sdata)
obj3

ohio     10000
Test     30000
org     120000
Str        123
dtype: int64

In [19]:
start=['c','b','d']
obj4=pd.Series(sdata,index=start)
obj4

c   NaN
b   NaN
d   NaN
dtype: float64

In [20]:
start=['org','Test','ohio','Str5']
obj4=pd.Series(sdata,index=start)
obj4

org     120000.0
Test     30000.0
ohio     10000.0
Str5         NaN
dtype: float64

In [21]:
# 获取文件中空值的索引
pd.isnull(obj4)

org     False
Test    False
ohio    False
Str5     True
dtype: bool

In [22]:
obj4.isnull()

org     False
Test    False
ohio    False
Str5     True
dtype: bool

In [23]:
obj4+obj3

Str          NaN
Str5         NaN
Test     60000.0
ohio     20000.0
org     240000.0
dtype: float64

In [48]:
obj4.name='popu'
obj4

state
org     120000.0
Test     30000.0
ohio     10000.0
Str5         NaN
Name: popu, dtype: float64

In [25]:
obj4.index.name='state'
obj4

state
org     120000.0
Test     30000.0
ohio     10000.0
Str5         NaN
Name: popu, dtype: float64

In [26]:
data={'state':['a','b','c'],
     'year':[2000,2001,2002],
     'pop':[1.5,1.6,1.7]}
frame=pd.DataFrame(data)
frame

  state  year  pop
0     a  2000  1.5
1     b  2001  1.6
2     c  2002  1.7

In [27]:
#取前5行数据
frame.head()

  state  year  pop
0     a  2000  1.5
1     b  2001  1.6
2     c  2002  1.7

In [28]:
pd.DataFrame(data,columns=['year','state'])

   year state
0  2000     a
1  2001     b
2  2002     c

In [29]:
pd.DataFrame(data,columns=['year','state','pod'])

   year state  pod
0  2000     a  NaN
1  2001     b  NaN
2  2002     c  NaN

In [30]:
frame.columns

Index(['state', 'year', 'pop'], dtype='object')

In [31]:
#获取某一列的值
frame['year']

0    2000
1    2001
2    2002
Name: year, dtype: int64

In [32]:
frame.year

0    2000
1    2001
2    2002
Name: year, dtype: int64

#loc,iloc
#loc通过列的名=名称获取值，iloc通过列的下标获取

In [33]:
# frame.loc[:,'year']
# frame.loc[1:,'year']
frame.loc[:,['year','state']]

   year state
0  2000     a
1  2001     b
2  2002     c

In [56]:
# frame.iloc[:,:]
frame.iloc[:,:]

  state  year  pop  dd
0     a  2000  1.5  12
1     b  2001  1.6  12
2     c  2002  1.7  12

In [57]:
frame['dd']=13
frame

  state  year  pop  dd
0     a  2000  1.5  13
1     b  2001  1.6  13
2     c  2002  1.7  13

In [59]:
import numpy as np
frame['det']=np.arange(3.)
frame

  state  year  pop  dd  det
0     a  2000  1.5  13  0.0
1     b  2001  1.6  13  1.0
2     c  2002  1.7  13  2.0

In [37]:
val=pd.Series([-1.2,-1.5,-1.7],index=['a','b','c'])
frame['det']=val
frame

  state  year  pop  dd  det
0     a  2000  1.5  12  NaN
1     b  2001  1.6  12  NaN
2     c  2002  1.7  12  NaN

In [60]:
val=pd.Series([-1.2,-1.5,],index=[0,1,])
frame['det']=val
frame

  state  year  pop  dd  det
0     a  2000  1.5  13 -1.2
1     b  2001  1.6  13 -1.5
2     c  2002  1.7  13  NaN

In [61]:
#删除
del frame['det']
frame

  state  year  pop  dd
0     a  2000  1.5  13
1     b  2001  1.6  13
2     c  2002  1.7  13

In [40]:
pod={'mebada':{'zhangs':1,'list':2},
    'obj':{'ww':5,'web':6}}
frame2=pd.DataFrame(pod)
frame2

        mebada  obj
zhangs     1.0  NaN
list       2.0  NaN
ww         NaN  5.0
web        NaN  6.0

In [62]:
frame2.T

wc      zhangs  list   ww  web
state
mebada     1.0   2.0  NaN  NaN
obj        NaN   NaN  5.0  6.0

In [63]:
frame2.index.name='wc'
frame2

state   mebada  obj
wc
zhangs     1.0  NaN
list       2.0  NaN
ww         NaN  5.0
web        NaN  6.0

In [43]:
frame2.columns.name='state'
frame2

state   mebada  obj
wc
zhangs     1.0  NaN
list       2.0  NaN
ww         NaN  5.0
web        NaN  6.0

In [44]:
frame2.values

array([[ 1., nan],
       [ 2., nan],
       [nan,  5.],
       [nan,  6.]])

In [45]:
frame2.index

Index(['zhangs', 'list', 'ww', 'web'], dtype='object', name='wc')

In [46]:
frame2.index[1]

'list'

In [47]:
frame2.iloc[1]

state
mebada    2.0
obj       NaN
Name: list, dtype: float64